<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout (title, content)">
<head>
<!-- Required meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<!-- Icones google -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Google font -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet"> -->
		<!-- Custom stlylesheet -->
		<!-- <link type="text/css" rel="stylesheet" href="/css/error.css" /> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<title th:replace="${title}">Hello, world!</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Sopra-Questionnaire</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li th:classappend="${#httpServletRequest.getRequestURI() == '/questionnaire' ? 'active':''}"class="nav-item"><a class="nav-link" href="#" th:href="@{/questionnaire}">Questionnaire</a>
				</li>
				<li th:classappend="${#httpServletRequest.getRequestURI() == '/tag' ? 'active':''}"class="nav-item"><a class="nav-link" href="#" th:href="@{/tag}">Tag</a></li>
				<li th:classappend="${(#httpServletRequest.getRequestURI() == '/profil' ||
									#httpServletRequest.getRequestURI() == '/profil/list' ||
									#httpServletRequest.getRequestURI() == '/profil/add' )				
									? 'active':''}"
				class="nav-item"><a class="nav-link" href="#" th:href="@{/profil}">Profil</a></li>
				</li>
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Passage</a>
				  <div class="dropdown-menu">
				    <a class="dropdown-item" href="#" th:href="@{/passage/add}">Ajouter</a>
				    <a class="dropdown-item" href="#" th:href="@{/passage/list}">Liste</a>
				  </div>
				</li>
				
			</ul>
		</div>
		<a class="btn btn-danger" href="/logout" role="button">Logout</a>
	</nav>
	
	<div class="container">
		<div class="jumbotron" th:replace="${content}">
			<p>Layout page, content gets here !</p>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>