<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title">Passage</title>
</head>
<body>
	<div th:fragment="content">
		<h1>QR Code</h1>
		<div th:object="${passage}">
			<input type="hidden" th:field="*{id}" />

			<h2 type="text" th:text="|*{prenom} *{nom} passe le questionnaire : *{questionnaire.nom}|">questionnaire</h2>
			<a href="#" th:href="@{|${link}|}">
				<img border="0" alt="W3Schools" src="#" th:src="|https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=${link}|" width="100" height="100">
			</a>

		</div>

		
	</div>
</body>
</html>
