<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Questionnaire</title>
</head>
<body>
<div th:fragment="content">
    <h1 class="offset-3">Aperçu des réponses au questionnaire</h1>
   <h1 th:text="|Resultat de ${passage.prenom} ${passage.nom} au questionnaire suivant : ${passage.questionnaire.nom}|">Resultat</h1>

		<div class="row mt-3">
			<div class="col offset-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Note :</h5>
						<h5 class="card-subtitle mb-2 text-muted text-center"
							th:text="|${passage.note} / ${passage.questionnaire.nombre_question}|">Note</h5>
					</div>
				</div>
			</div>
		</div>
		
    <div th:each="q,iterQ: ${passage.questionnaire.questions}" th:object="${q}">
        <h2 th:text="*{question}"></h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <ul th:each="r,iterR: *{reponses}" class="list-group list-group-flush">
                            
                            <th:block th:switch="${AllQuestionsCouleursRep[iterQ.index][iterR.index]}">
							    <div th:case="'0'">
							        <li class="list-group-item list-group-item-action list-group-item-light" th:text="${r}">reponse</li>
							    </div>
							    <div th:case="'1'">
							        <li class="list-group-item list-group-item-action list-group-item-success" th:text="${r}">reponse</li>
							    </div>
							    <div th:case="'2'">
							       <li class="list-group-item list-group-item-action list-group-item-danger"  th:text="${r}">reponse</li>
							    </div>
							</th:block>
							
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <div class="row mt-3">
			<div class="col offset-1">

				<div style="width: 900px;">
					<canvas id="chart"></canvas>
				</div>

			</div>
		</div>
    <script th:inline="javascript">
		$(document).ready(function () {
			
			console.log("OK");

			/*<![CDATA[*/
			var id = /*[[${passage.id}]]*/ 'default';
			var profil = /*[[${passage.profil.nom}]]*/ 'default';
			/*]]>*/
			var dataChart = [];
			var labelsChart = [];
			var moyChart = [];
			var labelMoyChart = "Moyenne du profil : "+profil;
			console.log(profil);
			$.ajax({
					url: '/api/passage/search/mypassage/' + id,
			}).done(function (result) {
			console.log(result);
			
			$.each( result, function() {
				  dataChart.push(this.note);
				  labelsChart.push(this.tag);
				  moyChart.push(this.moy);
				});
			
			var chart = new Chart($('#chart'), {
                type: 'radar',
                data: {
                    labels: labelsChart,
                    datasets: [
                        {
                            label: 'Candidat',
                            data: dataChart,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            fill: true
                        },
                        {
                            label: labelMoyChart,
                            data: moyChart,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            fill: true
                        }
                    ]
                },
                options: {
                    elements: {
                        line: {
                            tension: 0,
                            borderWidth: 3
                        }
                    },
                    scale: {
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        }
                    }
                }
            });
			
			});
					
		});
        
					 	

		</script>
</div>
</body>
</html>