<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title">Passage</title>
</head>
<body>
	<div th:fragment="content">
		<h1>Gestion des passages</h1>


        <a th:href="@{/passage/add}" class="btn btn-secondary" role="button"
           aria-pressed="true">Nouveau passage</a>
    <table class="table mt-3">
        <thread class="thread-dark">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Questionnaire</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Résultats</th>
                <th>Anonymiser</th>
                <th>Delete</th>
            </tr>
        </thread>
        <tbody>
        <tr th:each="passage : ${passages}" th:object="${passage}">
            <td th:text="*{id}">1</td>
            <td th:text="*{nom}">Jean</td>
            <td th:text="*{prenom}">Patric</td>
            <td th:text="*{questionnaire.nom}">Les bases</td>
            <td th:text="|*{date_test.date}/*{date_test.month}/*{date_test.year+1900}|">Date</td>
            <td th:text="*{etat}">Etat</td>
            <td th:if="*{etat == 'Terminé'}"><a th:href="@{|/passage/resultatadmin/*{id}|}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">ICI</a></td>
            <td th:unless="*{etat == 'Terminé'}"></td>
            
            <td th:if="*{etat == 'Terminé'}"> <a class="btn btn-danger"th:href="@{|/passage/anonymise/*{id}|}" role="button"><i class="material-icons md-36">face</i></a></td>
			<td th:unless="*{etat == 'Terminé'}"></td>
			<td> <a class="btn btn-danger"th:href="@{|/passage/delete/*{id}|}" role="button"><i class="material-icons md-36">delete</i></a></td>
        </tr>
        </tbody>
    </table>

		
	</div>
</body>
</html>
