<!DOCTYPE HTML>
<html th:replace="~{layout-passage :: layout-passage(~{::title}, ~{::content})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title">Passage</title>
</head>
<body>
	<div th:fragment="content" th:object="${passage}">
		<h1
			th:text="|Resultat de *{prenom} *{nom} au questionnaire suivant : *{questionnaire.nom}|">Resultat</h1>

		<div class="row mt-3">
			<div class="col offset-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Note :</h5>
						<h5 class="card-subtitle mb-2 text-muted text-center"
							th:text="|*{note} / *{questionnaire.nombre_question}|">Note</h5>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
