<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title">Passage</title>
</head>
<body>
	<div th:fragment="content">
		<h1>Ajout d'un passage</h1>

		<form action="#" th:action="@{/passage/add}"
			th:object="${passageForm}" method="post">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label for="nom">Nom</label><input type="text"
					class="form-control" id="nom" placeholder="Nom"
					th:field="*{nom}">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('nom')}"
					th:errors="*{nom}">Nom invalide</div>

				<label for="nom">Prenom</label><input type="text"
					class="form-control" id="prenom" placeholder="Prenom"
					th:field="*{prenom}">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('prenom')}"
					th:errors="*{prenom}">Nom invalide</div>
			</div>

			<div class="form-group">
				<label for="questionnaire">Questionnaire</label>
				<div>
					<select class="form-control" id="questionnaire" th:field=*{id_questionnaire}>
						<option th:each="q : ${questionnaires}" th:value="${q.id}" th:text="${q.nom}">Questionnaire</option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label for="profil">Profil</label>
				<div>
					<select class="form-control" id="profil" th:field=*{id_profil}>
						<option th:each="p : ${profils}" th:value="${p.id}" th:text="${p.nom}">Profil</option>
					</select>
				</div>
			</div>


			<button type="submit" class="btn btn-primary">Enregistrer</button>

		</form>
	</div>
</body>
</html>
