<!DOCTYPE HTML>
<html
	th:replace="~{layout-passage :: layout-passage(~{::title}, ~{::content})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title">Passage</title>
</head>
<body>
	<div th:fragment="content">
		<h1 class="col offset-4 mb-5"
			th:text="|Questionnaire : ${passage.questionnaire.nom}|">Questionnaire</h1>
		<div>
			<h2 for="question"
				th:text="|Question ${question.numero} : ${question.question} Tags${tags}|">Tags
				:</h2>

			<form action="#" th:action="@{|/passage/go/${passage.id}|}"
				method="post">

				<div th:each="reponse : ${reponses}" class="form-check mt-3"
					th:object="${reponse}">
					<input class="form-check-input" type="radio" name="reponse"
						id="radioReponse1" th:value="*{valeur}"
						th:field=${form.num_reponse}>

					<p th:text="*{s}"></p>
				</div>
				<button type="submit" class="btn btn-primary">Suivant</button>
			</form>
		</div>
	</div>
</body>
</html>
