<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title">Questionnaire</title>
</head>
<body>
	<div th:fragment="content">
		<h1 class="offset-4">Gestion des questions</h1>
		<h2 th:text="|Questionnaire : ${questionnaire.nom}|">Questionnaire
			: nom</h2>
		<form action="#"
			th:action="@{|/questionnaire/add/${questionnaire.id}/question/add|}"
			th:object="${question}" method="post">
			<input type="hidden" th:field="*{id}" />

			<div class="form-group">
				<label for="question" th:text="|Question ${#lists.size(questionnaire.questions) + 1}|">Question</label>
				<input type="text" class="form-control" id="question"
					placeholder="Question" th:field="*{question}">
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('question')}" th:errors="question">Question
					invalide</div>
			</div>

			<div class="form-group row">
				<label for="temps">Temps en seconde pour cette question : </label> <input
					class="form-control col-lg-1 ml-3 col-md-auto" type="number" id="temps"
					th:field="*{temps}" min="30" max="120">
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('temps')}" th:errors="temps">Temps
					pour la question invalide</div>
			</div>

			<div class="form-group">

				<div class="form-check mt-2">
					<input class="form-check-input" type="radio" name="bonne_reponse"
						id="radioReponse1" value="1" th:field="*{bonne_reponse}">

					<input type="text" class="form-control" id="reponse1"
						placeholder="Reponse 1" th:field="*{reponse1}">
				</div>

				<div class="form-check mt-3">
					<input class="form-check-input" type="radio" name="bonne_reponse"
						id="radioReponse2" value="2" th:field="*{bonne_reponse}">

					<input type="text" class="form-control" id="reponse2"
						placeholder="Reponse 2" th:field="*{reponse2}">
				</div>

				<div class="form-check mt-3">
					<input class="form-check-input" type="radio" name="bonne_reponse"
						id="radioReponse3" value="3" th:field="*{bonne_reponse}">

					<input type="text" class="form-control" id="reponse2"
						placeholder="Reponse 3" th:field="*{reponse3}">
				</div>

				<div class="form-check mt-3">
					<input class="form-check-input" type="radio" name="bonne_reponse"
						id="radioReponse4" value="4" th:field="*{bonne_reponse}">

					<input type="text" class="form-control" id="reponse4"
						placeholder="Reponse 4" th:field="*{reponse4}">
				</div>

			</div>

			<div class="form-group">
				<label for="Selection des tags">Tags</label>
				<select multiple class="form-control" name="tags"
					id="Selection des tags" th:field="*{tags}">
					<option th:each="t : ${tags}" th:value="${t.id}" th:text="${t.nom}">Tag</option>
				</select>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}">Tags invalides</div>
			</div> 


			<button type="submit" class="btn btn-primary offset-5">Enregistrer</button>
		</form>
	</div>
</body>
</html>