<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}"
   xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:fragment="title">Questionnaire</title>
   </head>
   <body>
      <div th:fragment="content">
         <h1>Gestion des questionnaires</h1>
         <p>
            <a th:href="@{/questionnaire/add}" class="btn btn-secondary"
               role="button" aria-pressed="true">Ajouter un questionnaire</a>
         </p>
         <table class="table">
            <thread class="thread-dark">
               <tr>
                  <th>#</th>
                  <th>Nom questionnaire</th>
                  <th>View or Edit</th>
                  <th>Delete</th>
                  <th>More info</th>
               </tr>
            </thread>
            <div th:each="questionnaire : ${questionnaires}"
               th:object="${questionnaire}">
               <tbody>
                  <tr>
                     <td th:text="*{id}">id</td>
                     <td th:text="*{nom}">Magnan</td>
                     <td><a class="btn btn-danger"
                        th:href="@{|/questionnaire/view/*{id}|}" role="button"><i
                        class="material-icons md-36">visibility</i></a></td>
                     <td><a class="btn btn-danger"
                        th:href="@{|/questionnaire/delete/*{id}|}" role="button"><i
                        class="material-icons md-36">delete</i></a></td>
                     <td><a class="btn btn-danger" th:href="|#collapse*{id}|"
                        role="button" aria-expanded="false" data-toggle="collapse"><i
                        class="material-icons md-36">expand_more</i></a></td>
                  </tr>
               </tbody>
               <tbody class="collapse" th:id="|collapse*{id}|" id="collapseExample">
                  <tr>
                     <td colspan="5" style="width: 100%" th:text="*{description}">id
                     </td>
                  </tr>
               </tbody>
            </div>
         </table>
         <nav aria-label="Page navigation">
            <ul class="pagination">
               <li class="page-item"
                  th:classappend="${questionnaires.getNumber() == 0} ? disabled"><a
                  class="page-link" href="#"
                  th:href="@{/questionnaire/list(page=${questionnaires.getNumber() - 1})}">Précédent</a>
               </li>
               <li class="page-item"
                  th:classappend="${questionnaires.getNumber() == page -1} ? active"
                  th:each="page : ${#numbers.sequence(1, questionnaires.totalPages)}">
                  <a th:text="${page}" class="page-link" href="#"
                     th:href="@{/questionnaire/list(page=${page - 1})}"></a>
               </li>
               <li class="page-item"
                  th:classappend="${questionnaires.getNumber() == questionnaires.totalPages - 1} ? disabled">
                  <a class="page-link" href="#"
                     th:href="@{/questionnaire/list(page=${questionnaires.getNumber() + 1})}">Suivant</a>
               </li>
            </ul>
         </nav>
      </div>
   </body>
</html>