<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title">Questionnaire</title>
</head>
<body>
	<div th:fragment="content">
		<h1 class="offset-4">Gestion des questions</h1>
		<h2 th:text="|Questionnaire : ${questionnaire.nom}|">Questionnaire
			: nom</h2>

			<h2 th:text="|Question ${question.numero}|"></h2>
			<h3 th:text="${question.question}"></h3>
			<a class="btn btn-primary offset-10" th:href="@{|/questionnaire/view/*{questionnaire.id}/question/edit/*{question.numero}|}"  role="button">
				<i class="material-icons md-36">
					edit
				</i>
			</a>
			<div th:each="r,iter: ${question.reponses}">
				<div class="row">
					<input type="radio" disabled th:checked="${question.bonne_reponse == iter.index + 1}">
					<p th:text="${r}"><p>
				</div>
			</div>

		<div class="row">
			<div th:each="q: ${questionnaire.questions}" class="ml-2">
				<a class="btn btn-primary" th:href="|@{/questionnaire/view/}*{questionnaire.id}/question/view/${q.numero}|" th:text="|Q${q.numero}|" role="button">Q1</a>
			</div>
		</div>
	</div>
</body>
</html>