<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:fragment="title">Questionnaire</title>
</head>
<body>
	<div th:fragment="content" th:object="${questionnaire}">

		<h1 class="page-header col-xs-6 offset-3" th:text="|Questionnaire : *{nom}|">Questionnaire : nom</h1>

		<a class="btn btn-primary offset-10" th:href="@{|/questionnaire/edit/*{id}|}"  role="button">
			<i class="material-icons md-36">
				edit
			</i>
		</a>
				
		<div class="row">
			<div class="col-xs-6">
				<p class="text-justify" th:text="|description : *{description}|">Description</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<p class="text-center" th:text="|*{nombre_question} questions|">N questions</p>
			</div>
		</div>
		
		<h3 class="page-header col-xs-6 offset-3">Voir les questions : </h3>



		<div class="row">
			<div th:each="q: ${questions}" class="ml-2">
				<a class="btn btn-primary" th:href="|@{/questionnaire/view/}*{id}/question/view/${q.numero}|" th:text="|Q${q.numero}|" role="button">Q1</a>
			</div>
		</div>



		<div class="row">
			<div class="col-xs-6">
				<p class="text-center" th:text="|Temps estimé : ${tempsMax}s|">Temps estimé : </p>
			</div>
		</div>
		
		<div class="col-xs-6">
				
                       
			</div>

	</div>
</body>
</html>