<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Tag</title>
</head>
<body>
<div th:fragment="content">
    <h1>Gestion des tags</h1>


        <a th:href="@{/tag/add}" class="btn btn-secondary" role="button"
           aria-pressed="true">Ajouter un tag</a>
    </p>
    <table class="table">
        <thread class="thread-dark">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Edit</th>
            </tr>
        </thread>
        <tbody>
        <tr th:each="tag : ${tags}" th:object="${tag}">
            <td th:text="*{id}">1</td>
            <td th:text="*{nom}">Microsoft</td>
            <td> <a class="btn btn-danger"th:href="@{|/tag/edit/*{id}|}" role="button"><i class="material-icons md-36">edit</i></a></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
