<!DOCTYPE HTML>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:fragment="title">Welcome</title>
	</head>
	<body>
	<div th:fragment="content">
		<h1 th:text="${message}">Hello World</h1>
	</div>
	</body>
</html>
